body {
    background: #ccc;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.pagetabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 50px auto;
    padding: 25px;
}
.pagetabs input[type="radio"] {
    display: none;
}
.pagetabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;

}
.pagetabs .tab {
    width: 100%;
    padding: 20px;
    background: #b7b1bb;
    order: 1;
    display: none;
}
.pagetabs .tab h2 {
    font-size: 1em;
}

.pagetabs input[type='radio']:checked + label + .tab {
    display: block;
}

.pagetabs input[type="radio"]:checked + label {
    background: #f1cdcd;
}
/*.homepic {
    width: 900px;
    height: 400px;
}*/
/*Styling the gallery tab*/
.gallery {
    background: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 5px;
}

.container .heading h2{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;    
}

.container .heading h2 span{
    font-weight: 100;      
}
/*formating the album grid */
.album {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.container .album .naturewalk {
    display: flex;
    flex-direction: row;
    width: 30%;
}
/*Formatting of the naturewalk, photos on the left side */
.album .naturewalk img{
   padding-bottom: 15px;
   padding-left: 7px;
   border-radius: 5px;
}
/*Formatting of the vastland, photos on the right side */
.album .vastland img{
    padding-bottom: 15px;
    border-radius: 5px;
 }